<div class="mb-16">
    <div class="banner-page">
        <i class="text-5xl font-semibold text-white">{{ title }}</i>
    </div>
    <!-- Breadcrumb -->
    <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
        <ol class="my-container inline-flex items-center space-x-1 md:space-x-3">
          <li class="inline-flex items-center">
            <a routerLink="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-slate-600 dark:text-gray-400 dark:hover:text-white">
              <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
              Trang chủ
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a class="ml-1 text-sm font-medium text-gray-700 hover:text-slate-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">{{ title }}</a>
            </div>
          </li>
        </ol>
    </nav>
    <div class="my-container dark:bg-slate-700 mt-8">
        <div class="mb-4 flex justify-between"> 
            <h2 class="text-3xl font-bold dark:text-slate-100">Danh sách sản phẩm</h2>
            <!-- <div class="flex justify-center items-center">
                <p class="text-sm font-semibold dark:text-slate-100 w-32">Phân loại</p>
                <select class="my-input" (change)="productClassification()" [(ngModel)]="classify">
                    <option selected value="">Tất cả</option>
                    <option *ngFor="let type of types$ | async" value="{{type.id}}">{{type.name}}</option>
                </select>
            </div> -->
        </div>
    
        <ng-container *ngIf="products$ | async as products"> 
            <ng-container *ngIf="products.length > 0; else notProduct">
              <form  class="flex-col justify-center items-center mt-6" [formGroup]="searchForm">
                <div class="grid grid-cols-6 gap-4">
                    <app-custom-form-input 
                        formControlName="name"
                        [type] = "'text'"
                        label = "Tên sản phẩm"
                        inputClass="mt-2"
                    ></app-custom-form-input>
            
                    <!-- <app-custom-select
                        formControlName="type"
                        label="Loại sản phẩm"
                        [options]="types"
                        selectedOptionLabel="Tất cả"
                        selectedOptionValue=""
                    ></app-custom-select> -->
            
                    <div class="mb-4" *ngIf="types && slug === 'all'">
                      <label  class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">Loại sản phẩm</label>
                      <select 
                          formControlName="type"
                          [ngClass]="{
                              'my-input' : true,
                              'input-error': searchForm.controls['type'].dirty && searchForm.controls['type'].invalid
                          }"
                      >   
                          <option selected value="">Tất cả</option>
                          <ng-container *ngFor="let type of types">
                            <optgroup *ngIf="type.parentId === 0 && quantityChildren(type.id!) > 0; else notChildren" label="{{ type.name }}">
                              <ng-container *ngFor="let typeChild of types">
                                <option *ngIf="typeChild.parentId === type.id" value="{{ typeChild.id }}">
                                  {{ typeChild.name }}
                                </option>
                              </ng-container>
                            </optgroup>
                            <ng-template #notChildren>
                              <option *ngIf="type.parentId === 0" value="{{ type.id }}">
                                {{ type.name }}
                              </option>
                            </ng-template>
                          </ng-container>
                      </select>
                      <app-validate-input [label]="'Loại sản phẩm'" [isDirty]="searchForm.controls['type'].dirty" [errors]="searchForm.controls['type'].errors"></app-validate-input>
                    </div>
      
                    <app-custom-select
                      formControlName="wood"
                      label="Loại gỗ"
                      [options]="woods"
                      selectedOptionLabel="Tất cả"
                      selectedOptionValue=""
                    ></app-custom-select>
            
                    <app-custom-select
                        formControlName="priceFrom"
                        label="Giá từ"
                        [options]="priceFromArr"
                        selectedOptionLabel="Tất cả"
                        selectedOptionValue=""
                        optionsValue="value"
                        optionsLabel="price"
                    ></app-custom-select>
            
                    <app-custom-select
                        formControlName="priceTo"
                        label="Giá đến"
                        [options]="priceToArr"
                        selectedOptionLabel="Tất cả"
                        selectedOptionValue=""
                        optionsValue="value"
                        optionsLabel="price"
                    ></app-custom-select>
            
                    <div class="mb-4 flex items-end">
                      <button (click)="searchProduct()" type="button" class="py-2 px-3 w-fit text-xs font-medium text-center text-white bg-gray-900 rounded-lg hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-900 dark:hover:bg-gray-800 dark:focus:ring-gray-800">Lọc sản phẩm</button>
                    </div>   
                </div>
              </form>
          
              <hr>
              
              <div class="grid grid-cols-1 mt-6 md:grid-cols-2 lg:grid-cols-4 justify-center gap-5">
                <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
              </div>
             
            </ng-container>
            <ng-template #notProduct>
              <p class="py-4 text-center md:col-span-2 lg:col-span-4">
                Chưa có sản phẩm nào thuộc loại {{ title }}! Vui lòng quay lại sau.
              </p>
            </ng-template>
        </ng-container>   
    </div>
</div>
