.paginator ::ng-deep .ngx-pagination .current { 
    background: linear-gradient(to right, #1c64f2, #1e429f);
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 4px;
  }

  .paginator ::ng-deep .ngx-pagination a,
  .ngx-pagination button {
    color: #fff;
    background: #1f2937;
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 4px;
    text-decoration: none;
  }
  
  .paginator ::ng-deep .ngx-pagination a:hover,
  .ngx-pagination button:hover {
    color: white;
    background: #111827;
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
  }

  .slick-slider {
    width: 100%;
    margin: auto;
    background: transparent;
  }
  
body .slick-prev, 
body .slick-next {
    height: 45px;
    width: 40px;
    background: grey !important;
    z-index: 100;
}

:host::ng-deep .slick-track {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

:host::ng-deep .slick-prev {
    left: -10px !important;
}

:host::ng-deep .slick-next {
    right: -10px !important;
}

:host::ng-deep label.star {
  padding: 0 8px !important;
  font-size: 2rem !important;
  color: #ddd !important;
  &::before {
      content: "\f005" !important;
  }
  &:hover {
      transform: rotate(0deg) scale(1.2) !important;
  }
}

:host::ng-deep input.star-5:checked ~ label.star::before {
  color: #fe7 !important;
  text-shadow: 0 0 0 #fe7 !important;
}