gallery, gallery-core {
    background-color: #fff;
}

div.stars {
    display: inline-block;
}

::ng-deep label.star {
    padding: 0 4px 0 0 !important;
    font-size: 20px !important;
    color: #ddd !important;
    &::before {
        content: "\f005" !important;
    }
    &:hover {
        transform: rotate(0deg) scale(1) !important;
    }
}

::ng-deep input.star-5:checked ~ label.star::before {
    color: #fe7 !important;
    text-shadow: 0 0 0 #fe7 !important;
}