<div class="mb-16">
    <div class="banner-page">
        <i class="text-5xl font-semibold text-white">Chi Tiết Sản Phẩm</i>
    </div>
    <!-- Breadcrumb -->
    <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
        <ol class="my-container inline-flex items-center space-x-1 md:space-x-3">
          <li class="inline-flex items-center">
            <a routerLink="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-slate-600 dark:text-gray-400 dark:hover:text-white">
              <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
              Trang chủ
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a routerLink="/product" class="ml-1 text-sm font-medium text-gray-700 hover:text-slate-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Sản phẩm</a>
            </div>
          </li>
          <li>
            <div class="flex items-center">
              <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a class="ml-1 text-sm font-medium text-gray-700 hover:text-slate-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Chi tiết sản phẩm</a>
            </div>
          </li>
        </ol>
    </nav>
    <div *ngIf="product" class="my-container mt-4">
        <div class="grid grid-cols-2 gap-8 px-16">
            <div class="w-full">
                <!-- <img src="{{ product.image }}" alt="{{ product.name }}"> -->
                <gallery 
                    imageSize="contain" 
                    [items]="items"
                    (itemClick)="lightbox.open(0, 'lightbox', {panelClass: 'fullscreen'})"
                ></gallery>
            </div>
    
            <div>
                <h2 class="text-3xl font-bold">
                    {{ product.name }} 
                    <span class="text-sm">({{ product.quantity }})</span>
                </h2>
                <div class="flex items-center gap-2 mt-3">
                    <div class="stars">
                        <ngx-star-rating ngModel="{{ starTotal }}" [id]="'rating'" [disabled] ="true"></ngx-star-rating>
                    </div >
                    <span (click)="scrollTo()" class="text-sm hover:cursor-pointer">(Xem {{ amountComment }} đánh giá)</span>
                </div>
                <div class="flex gap-4 mt-3">
                    <p class="text-base font-bold">
                        Loại sản phẩm: 
                        <span class="font-normal">{{ product.type_name }}</span>
                    </p>
                    <span class="font-thin">|</span>
                    <p class="text-base font-bold">
                        Mã sản phẩm: 
                        <span class="font-normal">{{ product.id }}</span>
                    </p>
                    <span class="font-thin">|</span>
                    <p class="text-base">Đã bán: 1000+</p>
                </div>
                <p class="mt-3 text-base font-bold">
                    Kích thước:
                    <span class="font-normal">
                        Dài {{ product.length }} mm x Rộng {{ product.width }} mm x Cao {{ product.height }} mm
                    </span>
                </p>
                <p class="mt-3 flex items-center text-base font-bold">
                    Loại gỗ:
                    <span class="ml-2 font-normal">
                        {{ product.wood }}
                    </span>
                    <svg (click)="showModal()" class="ml-1 flex-shrink-0 w-4 h-4 cursor-pointer hover:text-blue-600 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"></path></svg>
                </p>
                <p class="mt-3 text-base font-bold">
                    Giá bán:
                    <span class="text-red-700 dark:text-red-500 font-semibold text-xl">{{product.price | currency:"VND":'vnđ':'':'vi'}}</span>
                </p>
                <div class="mt-6 flex items-center gap-4">
                    <span class="font-bold">Số lượng: </span>
                    <div class="flex items-center gap-3">
                        <span class="text-xl font-bold cursor-pointer select-none" (click)="decrease()"> -</span>
                        <input type="text" [value]="quantity" id="small-input" class="my-input input-focus text-center w-[35%]" disabled>
                        <span class="text-xl font-bold cursor-pointer select-none" (click)="increase()"> + </span>
                    </div>
                </div>
                <div class="mt-6">
                    <button [disabled]="product.quantity == 0" type="button" (click)="buyProduct(product)" class="text-white font-bold w-full bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                        <span *ngIf="product.quantity > 0; else outOfStock">Thêm vào giỏ hàng</span>
                        <ng-template #outOfStock>
                            <span class="text-red-600">Tạm thời hết hàng.</span>
                        </ng-template>
                    </button>
                </div>
                <p class="mt-3 text-base flex">
                    <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.5 12.75l6 6 9-13.5"></path></svg>
                    Miễn phí giao hàng & lắp đặt tại thành phố Nha Trang
                </p>
                <p class="mt-3 text-base flex">
                    <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.5 12.75l6 6 9-13.5"></path></svg>
                    Miễn phí giao hàng tại tất cả các tỉnh thành trên toàn quốc
                </p>
                <p class="mt-3 text-base flex">
                    <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.5 12.75l6 6 9-13.5"></path></svg>
                    Miễn phí 1 đổi 1 - Bảo hành trong 1 năm
                </p>
            </div>
        </div>

        <div class="bg-slate-50 rounded-md min-h-[4rem] p-4 mt-12">
            <h3 class="text-xl font-bold mb-4">Mô tả</h3>
            <hr>
            <div 
                class="description h-[632px] overflow-y-scroll mt-4"
                [innerHTML]="product.description"
            ></div>
        </div>
      
        <div #commentDiv *ngIf="commentList" class="bg-slate-50 rounded-md min-h-[4rem] p-4 mt-12">
            <h3 class="text-xl font-bold mb-4">Đánh Giá - Nhận Xét Từ Khách Hàng</h3>
            <div class="h-[432px] overflow-y-scroll">
                <div *ngIf="commentList.length > 0; else noComment">
                    <div *ngFor="let comment of commentList">
                        <hr class="my-4">
                        <div class="grid grid-cols-6">
                            <div class="col-span-1">
                                <p class="text-sm font-bold">{{ comment.username }}</p>
                                <p class="text-xs">{{ comment.time | date: 'd/M/yyy HH:mm' }}</p>
                            </div>
                            <div class="col-span-5">
                                <div class="flex items-center gap-3">
                                    <div class="stars">
                                        <ngx-star-rating ngModel="{{ comment.star }}" [id]="'rating'" [disabled] ="true"></ngx-star-rating>
                                    </div >
                                    <span class="text-sm font-semibold">{{ starLabel[comment.star] }}</span>
                                </div>
                                <p class="text-green-400 text-xs flex items-center">
                                    <svg 
                                        class="w-4 h-4 mr-2"
                                        fill="none"
                                        stroke="currentColor"
                                        viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                                    </svg>
                                    Đã mua hàng
                                </p>
                                <div class="mt-3 text-sm">
                                    {{ comment.message }}
                                </div>
                            </div>
                        </div >
                    </div>
                    
                </div>
                <ng-template #noComment>
                    <div class="h-16 flex justify-center items-center">
                        <span class="text-center font-medium text-sm">Sản phẩm chưa có bình luận nào !!!</span>
                    </div>
                </ng-template>
            </div>
        </div>

        <div class="mt-8">
            <p class="mb-4 text-2xl font-bold text-center">Sản phẩm tương tự</p>
            <ngx-slick-carousel class="carousel" 
                #slickModal="slick-carousel" 
                [config]="slideConfig" 
            >
                <div ngxSlickItem *ngFor="let product of sameProducts" class="slide mx-3">
                    <app-product-card [product]="product"></app-product-card>
                </div>
            </ngx-slick-carousel>
        </div>
</div>



<!-- Modal -->
<div #modalEl tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
    <div *ngIf="wood" class="relative w-full h-full max-w-xl md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button (click)="hideModal()" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="authentication-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <div 
                    class="mb-2 flex gap-3"
                >
                    <img class="w-14" src="{{ wood.image }}" alt="{{ wood.name }}">
                    <span class="text-xl font-medium text-gray-900 dark:text-white">{{ wood.name }}</span>
                </div>

                <hr class="mb-2">

                <div class="max-h-96 overflow-y-scroll">
                    <div class="my-2">
                        <span class="font-bold mb-2">Ưu điểm:</span>
                        <div class="description" [innerHTML]="wood.advantage"></div>
                    </div>

                    <div class="my-2">
                        <span class="font-bold mb-2">Nhược điểm:</span>
                        <div class="description" [innerHTML]="wood.defect"></div>
                    </div>
                   
                    <div class="my-2">
                        <span class="font-bold mb-2">Mô tả:</span>
                        <div class="description" [innerHTML]="wood.detail"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
