gallery, gallery-core {
    background-color: #fff;
}

::ng-deep lightbox {
    z-index: 100 !important;
}

div.stars {
    display: inline-block;
}

:host::ng-deep label.star {
    padding: 0 4px 0 0 !important;
    font-size: 16px !important;
    color: #ddd !important;
    &::before {
        content: "\f005" !important;
    }
    &:hover {
        transform: rotate(0deg) scale(1) !important;
    }
}

:host::ng-deep input.star-5:checked ~ label.star::before {
    color: #ffdd44 !important;
    text-shadow: 0 0 0 #ffdd44 !important;
}

::ng-deep .description {
    h1 {
        font-size: 2rem; /* 30px */
        line-height: 2.75rem; /* 36px */
        font-weight: bold;
    }
    h2 {
        font-size: 1.7rem; /* 24px */
        line-height: 2.45rem; /* 32px */
        font-weight: bold;
    }
    h3 {
        font-size: 1.4rem; /* 20px */
        line-height: 1.8rem; /* 28px */
        font-weight: bold;
    }
    h4 {
        font-size: 1.25rem; /* 18px */
        line-height: 1.8rem; /* 28px */
        font-weight: bold;
    }
    h5 {
        font-size: 1.125rem; /* 20px */
        line-height: 1.8rem; /* 28px */
        font-weight: bold;
    }
    h6 {
        font-size: 1rem; /* 18px */
        line-height: 1.8rem; /* 28px */
        font-weight: bold;
    }
    ul {
        margin-left: 28px;
        list-style-type:disc
    }
    ol {
        margin-left: 28px;
        list-style-type: decimal;
    }
}