<div class="mb-16">
    <div class="banner-page">
        <i class="text-5xl font-semibold text-white">Chi Tiết Sản Phẩm</i>
    </div>
    <!-- Breadcrumb -->
    <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
        <ol class="my-container inline-flex items-center space-x-1 md:space-x-3">
          <li class="inline-flex items-center">
            <a routerLink="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-slate-600 dark:text-gray-400 dark:hover:text-white">
              <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
              Trang chủ
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a routerLink="/product" class="ml-1 text-sm font-medium text-gray-700 hover:text-slate-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Sản phẩm</a>
            </div>
          </li>
          <li>
            <div class="flex items-center">
              <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a class="ml-1 text-sm font-medium text-gray-700 hover:text-slate-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Chi tiết sản phẩm</a>
            </div>
          </li>
        </ol>
    </nav>
    <div class="my-container mt-4">
        <div *ngIf="product" class="grid grid-cols-2 gap-8 px-16">
            <div class="w-full">
                <!-- <img src="{{ product.image }}" alt="{{ product.name }}"> -->
                <gallery imageSize="contain" [items]="items"></gallery>
            </div>
    
            <div>
                <h2 class="text-3xl font-bold">
                    {{ product.name }} 
                    <span class="text-sm">({{ product.quantity }})</span>
                </h2>
                <div class="flex items-center gap-2 mt-3">
                    <div class="stars">
                        <ngx-star-rating ngModel="{{ starTotal }}" [id]="'rating'" [disabled] ="true"></ngx-star-rating>
                    </div >
                    <span (click)="scrollTo()" class="text-sm hover:cursor-pointer">(Xem {{ amountComment }} đánh giá)</span>
                </div>
                <div class="flex gap-4 mt-3">
                    <p class="text-base font-bold">
                        Loại sản phẩm: 
                        <span class="font-normal">{{ product.type_name }}</span>
                    </p>
                    <span class="font-thin">|</span>
                    <p class="text-base font-bold">
                        Mã sản phẩm: 
                        <span class="font-normal">{{ product.id }}</span>
                    </p>
                    <span class="font-thin">|</span>
                    <p class="text-base">Đã bán: 1000+</p>
                </div>
                <p class="mt-3 text-justify text-lg">
                    {{ product.description }}
                </p>
                <p class="mt-3 text-lg">
                    Giá bán:
                    <span class="text-red-700 dark:text-red-500 font-semibold text-xl">{{product.price | currency:"VND":'vnđ':'':'vi'}}</span>
                </p>
                <div class="mt-6 flex items-center gap-4">
                    <span class="font-bold">Số lượng: </span>
                    <div class="flex items-center gap-3">
                        <span class="text-xl font-bold cursor-pointer select-none" (click)="decrease()"> -</span>
                        <input type="text" [value]="quantity" id="small-input" class="my-input input-focus text-center w-[35%]" disabled>
                        <span class="text-xl font-bold cursor-pointer select-none" (click)="increase()"> + </span>
                    </div>
                </div>
                <div class="mt-6">
                    <button [disabled]="product.quantity == 0" type="button" (click)="buyProduct(product)" class="text-white font-bold w-full bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                        <span *ngIf="product.quantity > 0; else outOfStock">Thêm vào giỏ hàng</span>
                        <ng-template #outOfStock>
                            <span class="text-red-600">Tạm thời hết hàng.</span>
                        </ng-template>
                    </button>
                    
                </div>
            </div>
        </div>
      
        <div #commentDiv *ngIf="commentList" class="bg-slate-50 rounded-md min-h-[4rem] p-4 mt-6">
            <h3 class="text-xl font-semibold mb-6">Đánh Giá - Nhận Xét Từ Khách Hàng</h3>
            <div class="">
                <div *ngIf="commentList.length > 0; else noComment">
                    <div *ngFor="let comment of commentList">
                        <hr class="my-4">
                        <div class="grid grid-cols-6">
                            <div class="col-span-1">
                                <p class="text-sm font-bold">{{ comment.username }}</p>
                                <p class="text-xs">{{ comment.time | date: 'd/M/yyy h:mm' }}</p>
                            </div>
                            <div class="col-span-5">
                                <div class="flex items-center gap-3">
                                    <div class="stars">
                                        <ngx-star-rating ngModel="{{ comment.star }}" [id]="'rating'" [disabled] ="true"></ngx-star-rating>
                                    </div >
                                    <span class="text-sm font-semibold">{{ starLabel[comment.star] }}</span>
                                </div>
                                <p class="text-green-400 text-xs flex items-center">
                                    <svg 
                                        class="w-4 h-4 mr-2"
                                        fill="none"
                                        stroke="currentColor"
                                        viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                                    </svg>
                                    Đã mua hàng
                                </p>
                                <div class="mt-3 text-sm">
                                    {{ comment.message }}
                                </div>
                            </div>
                        </div >
                    </div>
                    
                </div>
                <ng-template #noComment>
                    <div class="h-16 flex justify-center items-center">
                        <span class="text-center font-medium text-sm">Sản phẩm chưa có bình luận nào !!!</span>
                    </div>
                </ng-template>
            </div >
        </div>
    </div>
</div>

<script>
    document.querySelector('a[href="#comment"]').addEventListener('click', function(e) {
        e.preventDefault();
        document.querySelector('#comment').scrollIntoView({ behavior: 'smooth' });
    });
</script>
