<div class="mb-16">
  <div class="banner-page">
      <i class="text-5xl font-semibold text-white">Giới Thiệu</i>
  </div>
  
  <!-- Breadcrumb -->
  <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
      <ol class="my-container inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
          <a routerLink="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-slate-600 dark:text-gray-400 dark:hover:text-white">
            <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
            Trang chủ
          </a>
        </li>
        <li>
          <div class="flex items-center">
            <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            <a routerLink="/about" class="ml-1 text-sm font-medium text-gray-700 hover:text-slate-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Giới thiệu</a>
          </div>
        </li>
      </ol>
  </nav>
    
  <div class="my-container mt-12">
      <h3 class="text-3xl mt-8 font-semibold">Giới thiệu</h3>
      <p class="text-justify text-base font-normal mt-4">
          Trại mộc Mộc Phúc (địa chỉ số 40 Ngọc Sơn, Vũng Đình, Hòn Nghê, Nha Trang, Khánh Hòa)
          là một trong những doanh nghiệp nhận làm đồ nội thất bằng gỗ như bàn, ghế, giường, tủ,
          cầu thang,… ở Nha Trang, Khánh Hòa. Chủ của doanh nghiệp là ông Phúc. Trước đây, ông đã đi theo học
          nghề mộc tại chỗ một người quen, sau đó tách ra làm riêng. Lúc đầu chỉ bắt đầu làm tại sân trước nhà của ông. Sau một
          thời gian hoạt động thì đã có một trại mộc riêng. Tính đến nay doanh nghiệp đã hoạt động gần 17 năm.
      </p>
      <img class="mt-4 mx-auto" src="../../../assets/images/xuongmoc.jpg" alt="xưỡng mộc">
      <p class="text-justify text-base font-normal mt-4">
          Mộc Phúc luôn tự hào và tự tin về năng lực của mình để đem đến cho khách hàng những sản phẩm đẹp,
          chất lượng, đáp ứng công năng sử dụng với chi phí hợp lý. Để đáp ứng được những sản phẩm đòi hỏi tiêu
          chuẩn kỹ thuật cao, Mộc Phúc liên tục nâng cao năng lực chuyện môn. Bên cạnh đó,
          trại mộc đã xây dựng được văn hóa làm việc với môi trường thuận lợi, trọng dụng những người có năng lực,
          phát huy tối đa sự độc lập và sáng tạo của từng nhân viên, hướng đến mục tiêu xây dựng trại mộc lớn mạnh và
          phát triển bền vững.
      </p>
      <p class="text-justify text-base font-normal mt-4">
          Năng lực thiết kế và thi công của Mộc Phúc hiện có trang bị những công cụ hiện đại. Chúng tôi cam kết luôn xây dựng
          và phát triển trại mộc gắn chặt với mục tiêu chất lượng là số 1 và sự hài lòng của khách hàng là mục tiêu duy nhất.
      </p>
      <p class="text-justify text-base font-normal mt-4">
          Cảm ơn quý vị đã quan tâm đến sản phẩm của Mộc Phúc. Hân hạnh được hợp tác và phục vụ quý vị.
      </p>
      <p class="text-base font-normal mt-4">
          Trân trọng!
      </p>

      <iframe class="mt-8 w-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3899.097404294046!2d109.17506761458966!3d12.241683733785823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317067fe744b4e59%3A0x2e0633607a07844a!2sINFOdation%20VN!5e0!3m2!1svi!2s!4v1673425746849!5m2!1svi!2s" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
