<div routerLink="/product/{{ product.slug }}" class="max-w-sm h-full cursor-pointer bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
    <div class="overflow-hidden rounded-t-lg h-36 md:h-44 lg:h-60">
        <img class="hover:scale-110 h-full w-full object-cover object-center" src="{{product.image}}" alt="{{product.name}}" />
    </div>
    <div class="p-2 lg:p-5">
        
        <h5 class="mb-1 text-sm lg:text-lg font-semibold md:font-bold tracking-tight text-gray-900 dark:text-white">{{product.name}}</h5>
        <!-- <p class="text-base font-normal text-gray-900 dark:text-white">Loại sản phẩm: {{product.type_name}}</p> -->
        
        <div class="flex justify-between flex-wrap mb-1">
            <div class="flex items-center gap-1">
                <div class="stars">
                    <ngx-star-rating ngModel="{{ product.starTotal }}" [id]="'rating'" [disabled] ="true"></ngx-star-rating>
                </div >
                <span class="text-xs md:text-sm">({{ product.amountComment }})</span>
            </div>
            <br class="md:hidden">
            <p class="text-sm lg:text-base font-normal text-gray-900 dark:text-white">Đã bán: {{product.sold}}</p>
        </div>

        <p class="mb-4 text-sm lg:text-base font-normal text-gray-900 dark:text-white">
            <span class="hidden lg:inline-block mr-1">Giá bán:</span> <span class="text-red-700 dark:text-red-500 font-semibold">{{product.price | currency:"VND":'vnđ':'':'vi'}}</span>
        </p>
        <!-- <div class="mt-4">
            <button [disabled]="product.quantity == 0" type="button" (click)="buyProduct()" class="text-white font-bold w-full bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                <span *ngIf="product.quantity > 0; else outOfStock">Thêm vào giỏ hàng</span>
                <ng-template #outOfStock>
                    <span class="text-red-600">Tạm thời hết hàng.</span>
                </ng-template>
            </button>
        </div> -->
    </div>
</div>
