<div class="h-52 overflow-hidden md:h-[34rem]">
    <ngx-slick-carousel class="carousel" 
      #slickModal="slick-carousel" 
      [config]="slideConfig" 
      (init)="slickInit($event)"
      (breakpoint)="breakpoint($event)"
      (afterChange)="afterChange($event)"
      (beforeChange)="beforeChange($event)">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img routerLink="{{slide.linkto}}" src="{{ slide.image }}" class="cursor-pointer" alt="" width="100%">
      </div>
    </ngx-slick-carousel>
</div>