
<nav class="bg-white border-gray-200 px-2 sm:px-5 py-2.5 dark:bg-gray-900 sticky top-0 z-40 opacity-95">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
  <a routerLink="/" class="flex items-center">
    <img src="../../../assets/logo.png" class="h-9 mr-3 sm:h-12" alt="Logo" />
    <span class="self-center text-xl md:text-2xl hidden lg:inline font-extrabold whitespace-nowrap dark:text-white">MộcPhúc.</span>
  </a>
  <div class="flex items-center md:order-2">
    <div *ngIf="!(isLogin | async),else login" class="flex gap-2 text-sm mr-0 md:text-base md:gap-4">
      <span routerLink="/signup" class="hidden md:inline text-gray-700 cursor-pointer">Đăng ký</span>
      <span routerLink="/login" class="text-gray-700 cursor-pointer">Đăng nhập</span>
    </div>
    <ng-template #login>
      <div class="flex mr-0">
        <div class=" relative inline-block text-left dropdown">
          <span class="">
            <button class="flex items-center justify-between w-full px-2 md:px-4 py-2 text-sm font-medium leading-5 text-gray-700 hover:text-gray-500" 
              aria-haspopup="true" aria-expanded="true" aria-controls="headlessui-menu-items-117">
              <div class="w-7 h-7 overflow-hidden rounded-full mr-1 md:mr-2">
                <img src="{{ user.avatar }}" alt="avatar">
              </div>
              <span class="hidden lg:inline">Hello, {{ user.firstname }}</span>
              <svg class="w-5 h-5 -mr-1 hidden lg:inline" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button
          ></span>
          <div class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95">
            <div class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none" aria-labelledby="headlessui-menu-button-1" id="headlessui-menu-items-117" role="menu">
              <div class="py-1">
                <a
                  routerLink="/user-detail"
                  tabindex="0"
                  class="text-gray-700 dark:text-gray-200 cursor-pointer flex items-center w-full px-4 py-2 text-sm leading-5 text-left"
                  role="menuitem"
                >
                  <svg
                    class="w-4 h-4 mr-2"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                    ></path>
                  </svg>
                  Thông tin cá nhân
                </a>
                <a
                  routerLink="/invoice"
                  tabindex="0"
                  class="text-gray-700 dark:text-gray-200 cursor-pointer flex items-center w-full px-4 py-2 text-sm leading-5 text-left"
                  role="menuitem"
                >
                <svg 
                  class="w-4 h-4 mr-2"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path 
                    d="M7.875 14.25l1.214 1.942a2.25 2.25 0 001.908 1.058h2.006c.776 0 1.497-.4 1.908-1.058l1.214-1.942M2.41 9h4.636a2.25 2.25 0 011.872 1.002l.164.246a2.25 2.25 0 001.872 1.002h2.092a2.25 2.25 0 001.872-1.002l.164-.246A2.25 2.25 0 0116.954 9h4.636M2.41 9a2.25 2.25 0 00-.16.832V12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 12V9.832c0-.287-.055-.57-.16-.832M2.41 9a2.25 2.25 0 01.382-.632l3.285-3.832a2.25 2.25 0 011.708-.786h8.43c.657 0 1.281.287 1.709.786l3.284 3.832c.163.19.291.404.382.632M4.5 20.25h15A2.25 2.25 0 0021.75 18v-2.625c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125V18a2.25 2.25 0 002.25 2.25z" 
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                  ></path>
                </svg>
                  Danh sách hóa đơn
                </a>
                <a
                  routerLink="/my-voucher"
                  tabindex="0"
                  class="text-gray-700 dark:text-gray-200 cursor-pointer flex items-center w-full px-4 py-2 text-sm leading-5 text-left"
                  role="menuitem"
                >
                <svg 
                  class="w-4 h-4 mr-2"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path 
                    d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 010 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 010-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375z"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                  ></path>
                </svg>
                  Mã giảm giá của tôi
                </a>
              </div>
              <div class="py-1">
                <a
                  routerLink="/change-password"
                  tabindex="3"
                  class="text-gray-700 dark:text-gray-200 cursor-pointer flex items-center w-full px-4 py-2 text-sm leading-5 text-left"
                  role="menuitem"
                >
                  <svg
                    class="w-4 h-4 mr-2"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path 
                      d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" 
                      stroke-linecap="round" 
                      stroke-linejoin="round" 
                      stroke-width="2"
                    ></path>
                  </svg>
                  Đổi mật khẩu
                </a>
                <a
                  (click)="logOut()"
                  tabindex="3"
                  class="text-gray-700 dark:text-gray-200 cursor-pointer flex items-center w-full px-4 py-2 text-sm leading-5 text-left"
                  role="menuitem"
                >
                  <svg
                    class="w-4 h-4 mr-2"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                    ></path>
                  </svg>
                  Đăng xuất
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
    </ng-template>
    <!-- ----- Giỏ hàng ------ -->
    <span routerLink="/cart" class="mx-2 lg:mx-3 text-gray-700 hover:text-gray-500 flex items-center justify-between cursor-pointer">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"></path>
      </svg>
      <span>({{ countProducts$ | async }})</span>
    </span>
    <button data-collapse-toggle="mega-menu-full" type="button" class="inline-flex items-center p-2 ml-1 md:ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mega-menu-full" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
    </button>
  </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" class="hidden w-full md:block md:w-auto" id="mega-menu-full">
      <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a routerLink="/" [ngClass]="{
            'text-origin':
              currentUrl === '/'
          }"  class="block py-2 pl-3 pr-4 font-bold text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-slate-800 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Trang chủ</a>
        </li>
        <li>
          <a routerLink="/about" [ngClass]="{
            'text-origin':
              currentUrl.includes('about')
          }"  class="block py-2 pl-3 pr-4 font-bold text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-slate-800 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Giới thiệu</a>
        </li>

        <li>
          <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" [ngClass]="{
            'text-origin':
              currentUrl.includes('/list-product')
          }"  class="flex items-center justify-between font-bold w-full py-2 pl-3 pr-4  text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-slate-800 md:p-0 md:w-auto dark:text-white md:dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Sản phẩm <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></button>
          <!-- Dropdown menu -->
          <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow min-w-[11rem] dark:bg-gray-700 dark:divide-gray-600">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
              <li>
                <a routerLink="/list-product/all" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Tất cả</a>
              </li>

              <ng-container *ngFor="let type of parentTypes">
                <li *ngIf="getChildrenTypeByPRId(type.id!).length === 0; else hasChildren">
                  <a routerLink="/list-product/{{type.slug}}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{type.name}}</a>
                </li>
                <ng-template #hasChildren>
                  <li appToggleSubmenu class="relative submenu">
                    <button type="button" class="flex items-center justify-between w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{type.name}}<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg></button>
                    <div class="z-10 submenu-child hidden absolute top-0 left-[184px] bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
                          <li *ngFor="let typeChild of getChildrenTypeByPRId(type.id!)">
                            <a routerLink="/list-product/{{typeChild.slug}}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">{{typeChild.name}}</a>
                          </li>
                        </ul>
                    </div>
                  </li>
                </ng-template>
              </ng-container>
            </ul>
          </div>
        </li>

        <li>
          <a routerLink="/voucher" [ngClass]="{
            'text-origin':
              currentUrl.includes('voucher')
          }"  class="block py-2 pl-3 pr-4 font-bold text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-slate-800 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Voucher</a>
        </li>
        <!-- <li>
          <a routerLink="/contact" [ngClass]="{
            'text-origin':
              currentUrl.includes('contact')
          }"  class="block py-2 pl-3 pr-4 font-bold text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-slate-800 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Liên hệ</a>
        </li> -->
        <li>
            <button id="dropdownNavbarLink1" [ngClass]="{
              'text-origin':
                currentUrl.includes('/return-policy') || currentUrl.includes('/warranty-policy')
            }" data-dropdown-toggle="dropdownNavbar1" class="flex items-center justify-between font-bold w-full py-2 pl-3 pr-4  text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-slate-800 md:p-0 md:w-auto dark:text-white md:dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Chính sách <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></button>
            <!-- Dropdown menu -->
            <div id="dropdownNavbar1" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a routerLink="/return-policy" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Chính sách đổi trả</a>
                  </li>
                  <li>
                    <a routerLink="/warranty-policy" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Chính sách bảo hàng</a>
                  </li>
                </ul>
            </div>
        </li>
        <li>
          <a routerLink="/search" [ngClass]="{
            'text-origin':
              currentUrl.includes('search')
          }"  class="flex gap-1 py-2 pl-3 pr-4 font-bold text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-slate-800 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
            Tìm kiếm
            <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .dropdown:focus-within  .dropdown-menu {
    opacity:1;
    transform: translate(0) scale(1);
    visibility: visible;
  }
</style>