<div class="mb-16">
    <div class="banner-page">
        <i class="text-3xl md:text-5xl font-semibold text-white">Mã Giảm Giá</i>
    </div>
    
    <!-- Breadcrumb -->
    <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
        <ol class="my-container inline-flex items-center space-x-1 md:space-x-3">
          <li class="inline-flex items-center">
            <a routerLink="/" class="inline-flex items-center text-xs md:text-sm font-medium text-gray-700 hover:text-slate-600 dark:text-gray-400 dark:hover:text-white">
              <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
              Trang chủ
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a routerLink="/voucher" class="ml-1 text-xs md:text-sm font-medium text-gray-700 hover:text-slate-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Mã giảm giá</a>
            </div>
          </li>
        </ol>
    </nav>

    <div *ngIf="voucherList" class="my-container mt-8">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
            <ng-container *ngIf="voucherList.length > 0; else noVoucher">
                <div *ngFor="let voucher of voucherList" class="flex items-center border rounded-lg shadow md:max-w-xl border-gray-700 bg-gray-900">
                    <div class="flex justify-center items-center py-6 px-4 lg:px-8 border-r border-gray-700">
                        <p class="font-extrabold text-sm text-white">MộcPhúc.</p>
                    </div>
                    <div class="flex flex-col justify-between p-4 leading-normal w-full">
                        <div class="mb-2 flex justify-between items-center">
                            <p class="text-sm lg:text-base text-white font-bold tracking-tight">Giảm {{ voucher.discount | currency:"VND":'vnđ':'':'vi'}}</p>
                            <p class="text-xs lg:text-sm text-white font-normal tracking-tight">Mã: <span class="ml-1 lg:ml-2">{{ voucher.code}}</span></p>
                        </div>
                        <div class="mb-3 text-xs lg:text-base">
                            <p class="font-normal text-gray-400">Điều kiện</p>
                            <ul class="list-disc ml-4">
                                <li class="font-normal text-gray-400">Áp dụng cho sản phẩm thuộc loại {{ voucher.applicable_productTypeName }}.</li>
                                <li class="font-normal text-gray-400">Áp dụng cho đơn hàng từ {{ voucher.bill_from | currency:"VND":'vnđ':'':'vi'}}.</li>
                            </ul>
                        </div>
                        <div class="flex justify-between items-center">
                            <p class="text-sm lg:text-base font-normal text-gray-400">HSD: {{ voucher.expiration_date | date: 'dd/MM/YYYY' }}</p>
                            <button 
                                (click)="saveVoucher(voucher.id!)"
                                *ngIf="!voucherOfUser.includes(voucher.id!); else saved"
                                type="button" 
                                class="px-4 py-1 font-medium text-center text-white cursor-pointer bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                            >
                                Lưu
                            </button>
                            <ng-template #saved>
                                <p class="text-green-400 font-medium">Đã lưu</p>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <ng-template #noVoucher>
            <p class="py-4 text-center col-span-2">
                Hiện tại không còn mã giảm giá nào có hiệu lực với bạn!
            </p>
        </ng-template>
    </div>
</div>
