<div class="mb-8">
    <div class="banner-page">
        <i class="text-3xl md:text-5xl font-semibold text-white">Thanh toán</i>
    </div>
    <!-- Breadcrumb -->
    <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
        <ol class="my-container inline-flex items-center space-x-1 md:space-x-3">
          <li class="inline-flex items-center">
            <a routerLink="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-slate-600 dark:text-gray-400 dark:hover:text-white">
              <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
              Trang chủ
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a routerLink="/cart" class="ml-1 text-sm font-medium text-gray-700 hover:text-slate-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Giỏ hàng</a>
            </div>
          </li>
          <li>
            <div class="flex items-center">
              <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a routerLink="/cart/payment" class="ml-1 text-sm font-medium text-gray-700 hover:text-slate-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Thanh toán</a>
            </div>
          </li>
        </ol>
    </nav>
    <div *ngIf="cart$ | async as cart" class="my-container mt-4">
        <div class="hidden md:block relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
                <thead class="text-sm text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Hình ảnh
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Tên sản phẩm
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Đơn giá
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Số lượng
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Thành tiền
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of cart" class="bg-white border-b text-gray-900 dark:text-white dark:bg-gray-900 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap ">
                            <img class="w-16 mx-auto" src="{{ entry.product.image }}" alt="{{ entry.product.name }}">
                        </th>
                        <td class="px-6 py-4">
                            {{ entry.product.name }}
                        </td>
                        <td class="px-6 py-4">
                            {{ entry.product.price | currency:"VND":'vnđ':'':'vi' }}
                        </td>
                        <td class="px-6 py-4">
                            <input type="text" value="{{ entry.count }}" id="small-input" class="my-input input-focus text-center w-[20%] mx-auto" disabled>
                        </td>
                        <td class="px-6 py-4">
                            {{ entry.product.price * entry.count | currency:"VND":'vnđ':'':'vi' }}
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-4 md:hidden">
            <div *ngFor="let entry of cart" class="p-4 bg-slate-50 rounded-lg mb-2">
                <div class="flex">
                    <img class="w-16" src="{{ entry.product.image }}" alt="{{ entry.product.name }}">
                    <div class="ml-4">
                        <p class="font-bold">{{ entry.product.name }}</p>
                        <p class="text-xs font-semibold text-red-600">{{ entry.product.price | currency:"VND":'vnđ':'':'vi' }}</p>
                    </div>
                </div>
                <div class="flex justify-between items-center mt-4">
                    <div class="flex items-center">
                        <span class="text-xs mr-1">Số lượng: </span>
                        <input type="text" value="{{ entry.count }}" id="small-input" class="my-input input-focus text-center w-[20%]" disabled>
                    </div>
                    
                    <div class="flex items-center">
                        <span class="text-xs mr-1">Thành tiền: </span>
                        <p class="text-sm font-semibold">{{ entry.product.price * entry.count | currency:"VND":'vnđ':'':'vi' }}</p>
                    </div>
                    
                </div>
            </div>
        </div>

        <form class="mt-8 bg-slate-50 rounded-lg py-2 px-4 grid grid-cols-1 md:grid-cols-2" [formGroup]="paymentForm" *ngIf="paymentForm">
            <div>
                <app-custom-form-input 
                    formControlName="name"
                    [type] = "'text'"
                    [inRow]="true"
                    containerClass="text-base my-6"
                    inputClass="w-[65%] md:w-[35%]"
                    [label] = "'Tên người nhận:'"
                    [errors]="paymentForm.controls['name'].errors"         
                ></app-custom-form-input>
                <app-custom-form-input 
                    formControlName="phone"
                    [type] = "'text'"
                    [inRow]="true"
                    containerClass="text-base my-6"
                    inputClass="w-[65%] md:w-[35%]"
                    [placeholder]="'vd: 0708288212'"
                    [label] = "'Số điện thoại:'"
                    [errors]="paymentForm.controls['phone'].errors"         
                ></app-custom-form-input>
                <app-custom-form-input 
                    formControlName="email"
                    [type] = "'text'"
                    [inRow]="true"
                    containerClass="text-base my-6"
                    inputClass="w-[65%] md:w-[35%]"
                    [placeholder]="'vd: example@gmail.com'"
                    [label] = "'Email:'"
                    [errors]="paymentForm.controls['email'].errors"         
                ></app-custom-form-input>
                <app-custom-form-input 
                    formControlName="address"
                    [type] = "'text'"
                    [inRow]="true"
                    containerClass="text-base my-6"
                    inputClass="w-[65%]"
                    [label] = "'Địa chỉ:'"
                    [errors]="paymentForm.controls['address'].errors"
                ></app-custom-form-input>
            </div>
            <div>
                <div *ngIf="userId" class="my-6">
                    <div class="flex items-center mb-1 gap-2 md:gap-x-0">
                        <p class="block text-sm w-28 font-bold text-slate-700 mb-1">Mã giảm giá:</p>
                        <div class="flex items-center flex-wrap gap-2 mb-0">
                            <input
                              formControlName="code"
                              type="text"
                              placeholder="Nhập mã giảm giá"
                              [ngClass]="{
                                    'my-input' : true,
                                    'input-error': this.paymentForm.controls['code'].dirty && invalidVoucher
                                }"
                               class="w-[95%]"
                            />
                        </div>
                        <!-- <app-custom-form-input
                            formControlName="code"
                            [type] = "'text'"
                            containerClass="flex items-center flex-wrap gap-2 mb-0"
                            inputClass="w-[60%]"
                            [placeholder]="'Nhập mã giảm giá'"
                            [label] = "'Mã giảm giá:'"      
                        ></app-custom-form-input> -->
                        <button 
                            (click)="showModal()"
                            type="button" 
                            class="text-white font-bold bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-lg text-sm px-3 py-2 h-fit dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
                        >
                            <svg 
                                class="w-4 h-4"
                                fill="none"
                                stroke="currentColor"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                                >
                                <path 
                                    d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 010 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 010-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375z"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                ></path>
                            </svg>
                        </button>
                    </div>
                    <p
                        class="text-sm text-pink-600"
                        *ngIf="this.paymentForm.controls['code'].dirty && invalidVoucher"
                    > 
                        Mã giảm giá không đủ điều kiện hoặc hết lượt áp dụng!
                    </p>
                </div>
                <div class="mb-4">
                    <p class="text-sm font-bold text-slate-700 mt-6 mb-2">Phương thức thanh toán:</p>
                    <div *ngFor="let method of paymentMethods" class="flex items-center ml-6 my-1">
                        <input [checked]="method.id === 1" (change)="checkCheckBoxvalue(method)" id="{{method.name}}" type="radio" value="{{method.id}}" name="payment_methods" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="{{method.name}}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ method.name }}</label>
                    </div>
                </div>
            </div>
        </form>
        <div class="mt-8 flex justify-between">
            <a routerLink="/cart" class="text-blue-600 hover:underline">Quay lại</a>
            <div class="flex flex-col gap-3">
                <p class="text-sm md:text-base text-right font-bold">Tổng tiền sản phẩm: <span class="text-red-600 pl-2">{{ (totalPrice$ | async) | currency:"VND":'vnđ':'':'vi'}}</span></p>
                <p class="text-sm md:text-base text-right font-bold">Tổng tiền được giảm: <span class="text-red-600 pl-2">{{ (discount) | currency:"VND":'vnđ':'':'vi'}}</span></p>
                <p class="text-sm md:text-base text-right font-bold">Tổng tiền phải thanh toán: <span class="text-red-600 pl-2">{{ ((totalPrice$ | async)! - discount) | currency:"VND":'vnđ':'':'vi'}}</span></p>
                <button [disabled]="paymentForm.invalid" (click)="payment()" type="button" class="text-white font-bold bg-gray-800 hover:bg-gray-900 disabled:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-300 rounded-lg text-sm px-5 py-2.5 my-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                    Xác nhận đặt hàng
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div #modalEl tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
    <div class="relative w-full h-full max-w-2xl md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button (click)="hideModal()" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="authentication-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <p
                    class="mb-6 text-xl font-semibold dark:text-white"
                >
                    Mã giảm giá của tôi
                </p>
                <div class="max-h-96 w-full p-2 overflow-y-scroll" >
                    <div *ngIf="voucherList">
                        
                        <ng-container *ngIf="voucherList.length > 0; else noVoucher">
                            <div *ngFor="let voucher of voucherList" class="flex items-center border rounded-lg shadow border-gray-700 bg-gray-900 mb-4">
                                <div class="flex justify-center items-center py-6 px-2 lg:px-8 border-r border-gray-700">
                                    <p class="font-extrabold text-sm text-white">MộcPhúc.</p>
                                </div>
                                <div class="flex flex-col justify-between p-4 leading-normal w-full">
                                    <div class="mb-2 flex justify-between">
                                        <p class="text-sm lg:text-base text-white font-bold tracking-tight">Giảm {{ voucher.discount | currency:"VND":'vnđ':'':'vi'}}</p>
                                        <p class="text-xs lg:text-sm text-white font-normal tracking-tight">Mã: <span class="ml-2">{{ voucher.code}}</span></p>
                                    </div>
                                    <div class="mb-3 text-xs lg:text-base">
                                        <p class="font-normal text-gray-400">Điều kiện</p>
                                        <ul class="list-disc ml-4">
                                            <li class="font-normal text-gray-400">Áp dụng cho sản phẩm thuộc loại {{ voucher.applicable_productTypeName }}.</li>
                                            <li class="font-normal text-gray-400">Áp dụng cho đơn hàng từ {{ voucher.bill_from | currency:"VND":'vnđ':'':'vi'}}.</li>
                                        </ul>
                                    </div>
                                    <div class="flex justify-between items-center">
                                        <p class="text-xs lg:text-base font-normal text-gray-400">HSD: {{ voucher.expiration_date | date: 'dd/MM/YYYY' }}</p>
                                        <button 
                                            *ngIf="checkCondition(voucher); else notCondition"
                                            (click)="apply(voucher)"
                                            type="button" 
                                            class="px-4 py-1 font-medium text-center text-white cursor-pointer bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                        >
                                            Áp dụng
                                        </button>
                                        <ng-template #notCondition>
                                            <p class="text-gray-500 text-xs md:text-base font-medium">Chưa thỏa điều kiện</p>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        
                        <ng-template #noVoucher>
                            <p class="py-4 text-center">
                                Chưa có mã giảm giá nào được lưu!
                            </p>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 