<div class="">
    <div class="banner-page">
        <i class="text-3xl md:text-5xl font-semibold text-white">Chính Sách Đổi Trả</i>
    </div>

    <!-- Breadcrumb -->
    <nav class="flex px-5 py-3 text-gray-700 border border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
        <ol class="my-container inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
            <a routerLink="/" class="inline-flex items-center text-xs md:text-sm font-medium text-gray-700 hover:text-slate-600 dark:text-gray-400 dark:hover:text-white">
            <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
            Trang chủ
            </a>
        </li>
        <li>
            <div class="flex items-center">
            <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            <a routerLink="/return-policy" class="ml-1 text-xs md:text-sm font-medium text-gray-700 hover:text-slate-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Chính sách đổi trả</a>
            </div>
        </li>
        </ol>
    </nav>

    <div class="my-container mt-12">
        <h3 class="text-3xl font-semibold">Chính sách đổi trả</h3>
        <p class="text-justify text-base font-normal mt-4">
            <span class="font-bold">1. Chính sách đổi hàng:</span> trong vòng 3 ngày tính từ ngày giao hàng thành công, không tính chủ 
            nhật và các ngày lễ, tết; quý khách hàng được đổi sản phẩm miễn phí khi đủ 2 điều kiện:
        </p>
        <p class="text-justify text-base font-normal mt-4">
            - Sản phẩm bị hư hỏng do lỗi chất liệu (không bao gồm yếu tố màu sắc do mỗi đợt sản xuất màu 
            gỗ, vân gỗ và mắt gỗ có thể chênh lệch đôi chút vì đặc tính tự nhiên của gỗ), lỗi kỹ thuật và 
            lỗi lắp đặt từ phía MộcPhúc.
        </p>
        <p class="text-justify text-base font-normal mt-4">
            - Đổi sang sản phẩm khác bằng giá trị hoặc có giá trị cao hơn sản phẩm đã giao.
        </p>
        <p class="text-justify text-base font-normal mt-4">
            - Sau 3 ngày tính từ ngày giao hàng thành công, MộcPhúc sẽ áp dụng sang chính sách bảo hành cho 
            các sản phẩm bị hư hỏng do lỗi chất liệu, lỗi kỹ thuật và lỗi lắp đặt từ phía MộcPhúc, không áp 
            dụng đổi sang sản phẩm khác.
        </p>
        <p class="text-justify text-base font-normal mt-4">
            <span class="font-bold">2. Chính sách trả hàng:</span> quý khách hàng chỉ được trả hàng tại thời điểm giao hàng nếu sản 
            phẩm không đúng như thông tin đặt hàng do quý khách hàng đặt nhầm hoặc thay đổi ý kiến, 
            nhưng phải thanh toán phí giao hàng cho MộcPhúc là 300,000đ.
        </p>
        <p class="text-justify text-base font-normal mt-4">
            - Quyết định của MộcPhúc là quyết định cuối cùng và có thể thay đổi mà không cần thông báo trước. 
        </p>
    </div>

    <div class="mt-12 bg-gray-400">
        <div class="my-container grid grid-cols-2 md:grid-cols-4 gap-8 py-8">
            <div class="flex flex-col justify-center items-center">
                <svg class="flex-shrink-0 w-14 h-14 font-medium text-white" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                <p class="text-white text-center text-sm font-semibold mt-3">Mẫu mã đa dạng</p>
            </div>
            <div class="flex flex-col justify-center items-center">
                <svg class="flex-shrink-0 w-14 h-14 font-medium text-white" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                <p class="text-white text-center text-sm font-semibold mt-3">Giao hàng toàn quốc</p>
            </div>
            <div class="flex flex-col justify-center items-center">
                <svg class="flex-shrink-0 w-14 h-14 font-medium text-white" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                <p class="text-white text-center text-sm font-semibold mt-3">Bảo hành tới 12 tháng</p>
            </div>
            <div class="flex flex-col justify-center items-center">
                <svg class="flex-shrink-0 w-14 h-14 font-medium text-white" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                <p class="text-white text-center text-sm font-semibold mt-3">Có thể đổi trả 1 - 1</p>
            </div>
        </div>
    </div>
</div>
